.pac-container .pac-item{
	border-top: 0px !important;
	border-bottom: 1px solid lightgray;
    border-radius: 2px;
    background-color: #fff;
    color: #212121;
	cursor:pointer !important;
}
.pac-container .pac-item:hover {
    background-color: #ededed !important;
    cursor: pointer !important;
}
.pac-container .pac-item:hover .pac-icon-marker{
	background-position: -18px -161px;
}