.popover .sh-PickerContent {
    width: 300px;
    height: 365px;

    .sh-IconPicker {
        width: 100% !important;
        height: 100% !important;
    }
}

.popover .sh-IconPicker {
    width: 285px;
    height: 350px;
}

.sh-IconPicker {
    --o-icon-picker-active: #{$gray-200};

    .sh-active {
        background-color: var(--o-icon-picker-active) !important;
    }

    .sh-Icon {
        &:hover {
            background-color: var(--o-icon-picker-active) !important;
        }
    }

    .sh-IconPicker-sectionIcon {
        filter: grayscale(1);
    }

    .sh-IconPicker-empty {
        font-size: 5rem !important;
        filter: grayscale(0.25);
    }
}

.sh-IconPicker-search {
    input {
        &:not(:focus) {
            &+.oi-search {
                color: $text-muted;
            }
        }
    }
}